html {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.header1{
    padding: 25px;
    opacity: 80%;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 h4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: black;
    font-size: 1.7rem;
    padding: 30px;
    margin-left: 0px;

}

.header1 .share img{
    width: 50px;
}

.header1 img{
    border-radius: 400px;
    width: 120px;
}
.header1 p{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 20px;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icones img{
    width: 50px;
    margin: 10px 6px;
}


.container1 a{
    flex-direction: row;
    display: flex;
    padding: 20px;
    background-color: #f1ca03;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: 20px;
    height: 40px;
    width: 450px;
}
.container1 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.container2 a{
    flex-direction: row;
    display: flex;
    padding: 20px;
    background-color: #f1ca03;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container2 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.container3 a{
    flex-direction: row;
    display: flex;
    padding: 20px;
    background-color: #f1ca03;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container3 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.container4 a{
    flex-direction: row;
    display: flex;
    padding: 20px;
    background-color: #f1ca03;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: 50px;
    height: 40px;
    width: 450px;
}
.container4 p{
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 480px){
    
    .header1 h4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: white;
        font-size: 1.7rem;
        padding: 30px;
        margin-left: 20px;
    }

    .header1 .share img{
        width: 50px;
    }
    
    .container1 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #f1ca03;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container1 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }

    .container2 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #f1ca03;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container2 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }

    .container3 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #f1ca03;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container3 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }

    .container4 a{
        flex-direction: row;
        display: flex;
        padding: 20px;
        background-color: #f1ca03;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 50px;
        height: 20px;
        width: 340px;
    }
    
    .container4 p{
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
    }
}
